<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="editProfileForm" (ngSubmit)="edit()">
        <div class="card mb-3">
          <img class="card-img-top" src="{{user.photoUrl}}" alt="Profile Picture" width="220px" height="220px" [style.objectFit]="'contain'">
          <div class="col-md-6">
            <input class="form-control" id="photoUrl" type="text" placeholder="photoUrl" formControlName="photoUrl" />
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <form [formGroup]="editProfileForm" (ngSubmit)="edit()">
        <div class="row">
          <div class="col-md-6">
            <input class="form-control" id="username" type="text" placeholder="Usuario" formControlName="userName" />
          </div>
          <div class="col-md-6">
            <input class="form-control" id="firstname" type="text" placeholder="Nombre" formControlName="firstName" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <input class="form-control" id="lastname" type="text" placeholder="Apellido" formControlName="lastName" />
          </div>
          <div class="col-md-6">
            <input class="form-control" id="email" type="text" placeholder="Correo electrónico"
              formControlName="email" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label for="biography">Biography</label>
            <textarea class="form-control" id="biography" formControlName="biography"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary" (click)="edit()">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
