<div class="row g-4">
    <div class="col-3">
        <div class="card rounded-5 p-2" style="background-color: #FFFFFF">
            <div class="card-body text-center">
                <img src="https://images.ctfassets.net/lh3zuq09vnm2/yBDals8aU8RWtb0xLnPkI/19b391bda8f43e16e64d40b55561e5cd/How_tracking_user_behavior_on_your_website_can_improve_customer_experience.png"
                    class="rounded-circle" width="180" height="180" alt="">
                <h1 class="h2 fw-bold">Nombre</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet mi orci.</p>
                <span class="h4 d-block">Amigos</span>
                <span class="h3 d-block">180</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card rounded-5 p-2" style="background-color: #FFFFFF">
            <div class="card-body text-center d-flex">
                <form class="flex-fill">
                    <textarea rows="3" placeholder="Escribe lo que piensas..." class="form-control"></textarea>
                </form>
                <div class="p-3 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="posts">
            <div class="card rounded-5 p-2" style="background-color: #FFFFFF">
                <div class="card-body text-center d-flex">
                    <form class="flex-fill">
                        <textarea rows="3" placeholder="Escribe lo que piensas..." class="form-control"></textarea>
                    </form>
                    <div class="p-3 d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card rounded-5 p-2" style="background-color: #FFFFFF">
            <div class="card-body text-center">
                <h1 class="h3">Podrías conocer a</h1>
            </div>
        </div>
    </div>
</div>